.font_housegothic{
	font-family:"HouseGothicHG23Text-Light", Arial, Helvetica, sans-serif;
	font-size:15px;
}
*{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;	
	line-height:16px;
}
body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;	
	line-height:16px;
	
}
textarea{
	height:170px;
}
li{
	display:inline;
	margin-left:15px;
}
a{
	text-decoration: none;
}
a:link {color:#000;}      /* unvisited link */
a:visited {color:#000;}  /* visited link */
a:hover {color:#E32384;}  /* mouse over link */
a:active {color:#888;}  /* selected link */ 
.clear{
	clear:both;
	float:none;
}
.selected{
	font-weight: 700;
}
.unselected{
	font-weight: 400;
}
.container{
	width: 1052px;
	margin:auto;
}
.wrapper{
	width:972px;
	margin:auto;
}
.header{
	margin-top:4px;
	height: 75px;
}
.logo{
	margin-left: 31px;
	background:url("images/logo.png") no-repeat;
	width:122px;
	height:71px;
	float:left;	
}
.topmenu{
	text-align:right;
	height:28px;
	float:right;
}
.topmenu ul{
	margin:0 20px 0 0;
}
.account{	
	background:url("images/header_gradient.png") no-repeat;
	text-align:right;
	height:43px;
	width:445px;
	float:right;
}
.account ul{
	margin:20px 20px 0 0;
}
.nav{
	background:url("images/nav_bg.png") no-repeat;
	font-size:14px;
	height:43px;
	width:1052px;
}
.nav li{
	margin:0 15px 0 0;
}
.nav_text{
	margin-top:14px;
	float:left;
}
.nav a:link{
	color:#FFF;
}
.nav a:visited{
	color:#FFF;
}
.nav a:hover{
	color:#E32384;
}
.search{
	margin-top:8px;
	float:right;
}
.search_textbox{
	padding-left:10px;
	padding-right:0;
	background: url("images/search_textbox.png") no-repeat;	
	border:none;	
	height:32px;
	width:158px;
	color:#FFF;
	display: block;
	float:left;
}
.search_button{
	border:none;
	background: url("images/search_button.png") no-repeat;
	height:32px;
	width:45px;
	display: block;
	float:left;
}
.search_button:hover{
	background: url("images/search_button.png") no-repeat 0 -32px;
}
.banner_box{
	background:#570934;
	height: 166px;
	width: 953px;
	margin:auto;
}
.banner{	
	width:265px;
	height: 166px;
	float:left;	
}
.b1{
	background:url("images/banner_love.png") no-repeat;
}
.b1:hover{
	background:url("images/banner_love.png") no-repeat 0 -166px;
}
.b2{
	background:url("images/banner_wear.png") no-repeat;
}
.b2:hover{
	background:url("images/banner_wear.png") no-repeat 0 -166px;
}
.b3{
	background:url("images/banner_return.png") no-repeat;
}
.b3:hover{
	background:url("images/banner_return.png") no-repeat 0 -166px;
}
.b4{
	width:158px;
	height: 166px;
	float:left;
	background:url("images/banner_join.png") no-repeat;
}
.b4:hover{
	background:url("images/banner_join.png") no-repeat 0 -166px;
}
.left{
	margin-left:21px;
	width:182px;	
	float:left;
	font-family: "HouseGothicHG23Text-Light", Arial, Helvetica, sans-serif;
}

.left_heart{
	background:url("images/left_heart.png") no-repeat;
	width:182px;
	height:189px;
}
.left_girl{
	background:url("images/left_girl.png") no-repeat;
	width:216px;
	height:274px;
	margin-top:20px;
}
.left_bigheart{
	background:url("images/left_bigheart.png") no-repeat;
	width:142px;
	height:90px;
	padding:35px 0 0 40px;
	float:left;
	margin-left:21px;
}
.left_bigheart_text{
	width:100px;
	font-size: 18px;
	color:#FFF;
	text-align:center;
	line-height: 20px;
}
.left_bigheart_title{
	background:url("images/left_bigheart_text.png") no-repeat;
	width:687px;
	height: 60px;
	margin-top:30px;
	float:left;
}
.left a:hover{
	color:#E32384;
}
.left li{
	display: block;
	line-height: 25px;
	margin-left:0;
	cursor:pointer;
}
.left ul{
	margin-left:15px;
}
.categories_girl{
	margin-top:20px;
	text-align:center;
	
}
.lv1 li{
	margin-left:20px;
}
.submenu li{
	font-size: 12px;
}
.right{
	margin-left:20px;
	width:730px;
	float:left;
	border-left:dashed 1px #ffb5da;
}

.designers_title{
	width:180px;
	font-size:18px;
	margin: 20px 0 0 20px;
	float:left;
}
.designers_list{
	float:right;
	margin-top: 20px;
}
.designers_col{
	margin:20px 0 0 50px;
	width:150px;
	float:left;
}
.designers_group{
	margin-top:10px;
	line-height: 18px;
}
.designers_group li{
	margin:0;
}
.designers_key{
	font-weight: 700;
}
.designers_name a:hover{
	color:#E32384;
}
.designers_star span{
	color:#E32384;
}
/*-----------ITEM LIST------------*/
.item_list{
	width:600px;
	margin: auto;
}
.item{
	width:150px;
	height:360px;
	margin: 40px 0 0 50px;
	float:left;
	text-align:center;
}
.item_img
{
	width:150px;
	height: 270px;
}
.item_name{
	font-weight: 700;
}
.item_description{
	font-size:12px;
}
.item_smallprice{
	color:#888888;
	font-size:13px;
}
.item_price{
	background:#E32384;
	color:#FFFFFF;
	line-height:25px;
	height:24px;
	width:116px;
	margin:auto;
	text-align:center;
	font-weight: 700;
}
.item_price:hover{
	background:#F545A6;
}

/*-----------PAGE NAVIGATION------------*/
.pagenav{
	height: 25px;
	float:right;
	margin-top:20px;
}
.pagenav ul{
	display:inline;	
	float:left;
	line-height: 26px;
}
.pagenav li{
	margin:0 3px 0 3px;
}
.pagenav_left{
	background: url("images/left.png") no-repeat;
	height: 25px;
	width: 58px;
	float:left;
}

.pagenav_right{
	background: url("images/right.png") no-repeat;
	height: 25px;
	width: 58px;
	float:left;
}

/*-----------FOOTER------------*/
.footer{
	border-top:#ebcceb dashed 1px;
	margin-top:20px;
	text-align:center;	
	color:#555555;	
	height:170px;
}
.footer span{	
	font-size:10px;
}
.footer a{
	color:#555555;
}

.footer_wrapper{	
	float:left;
	text-align:center;
	width:800px;
	margin:10px 0 0 100px;	
	color:#000;
	font-size:10px;
}
.footer_nav {
	font-size:11px;
	margin-left:150px;
}
.footer_nav_text{
	height:30px;
	float:left;
	margin-left:15px;
}
.footer_nav a{
	color:#000;
}
.footer_nav a:hover{
	color:#333;
	font-weight: 700;
	display:block;
}
.footer_menu{
	margin-top:10px;
	color:#555555;
}
.footer_menu a:hover{
	color:#666;
}
.footer_arrow{
	width:45px;
	height:13px;
}
.footer_arrow_show{
	background: url("images/arrow.png") no-repeat;
}
.link{
	margin-top:15px;
	float:right;
}
.footer_privacy{
	margin-left:0px;
}

/*-----------ABOUT------------*/
.wrapper_about{
	margin-left:40px;
}
.about{
	width:799px;
	float:left;
}
.about_backstory{
	background: url("images/about_backstory.png") no-repeat;
	width:219px;
	height: 307px;
	float:left;
}
.about_press{
	background: url("images/about_press.png") no-repeat;
	width:217px;
	height: 307px;
	float:left;
}
.about_team{
	background: url("images/about_team.png") no-repeat;
	width:312px;
	height: 307px;
	float:left;
}
.about_testimonial{
	background: url("images/about_testimonial.png") no-repeat;
	width:436px;
	height: 484px;
	float:left;
}
.about_howitworks{
	background: url("images/about_howitworks.png") no-repeat;
	width:363px;
	height: 484px;
	float:left;
}
.entry_box{
	margin: 71px 0 0 123px;
}
.entry{	
	height:84px;
	width:313px;
	margin-top:20px;
}
.entry_img{
	background: url("images/entry_img_border.png") no-repeat;
	padding: 3px 0 0 3px;
	width:83px;
	height:83px;	
	float:left;
}
.entry_text{
	float:left;
	width:222px;
	margin:5px 0 0 5px;
	overflow: hidden;
	font-size:11px;
	line-height: 11px;
	font-family: sans-serif, Arial, Helvetica;
	color:#666;
}
/*-----------BREADCRUMB------------*/
.breadcrumb{
	color:#E32384;
	margin:10px 0 0 20px;
}
/*-----------DETAIL IMAGE------------*/
.detail_image{
	width:430px;
	float:left;
	margin-top:20px;
}
.detail_bigimage{
	width:400px;
	height:400px;
	text-align:center;
}
.detail_thumbnail_box{
	width:342px;
	margin:auto;
}
.detail_thumbnail{
	display:table-cell;
	width:107px;
	height:107px;
	float:left;
	margin-right: 5px;
	border:solid 1px #888888;
	text-align:center;
	vertical-align:middle;
}
.detail_thumbnail *{
	vertical-align:middle;
}
.detail_thumbnail span {
	display: inline-block;
	height: 100%;
	width: 1px;
}
/*-----------DETAIL INFO------------*/
.detail_info{
	float:left;
	width:542px;
	margin-top:20px;
}
.detail_info .seperator{
	margin-top:10px;
}
.info_title{
	font-size:17px;
	font-weight:700;
}
.info_subtitle{
	font-size:14px;
}
.info_price_box{
	margin-top:10px;
}
.info_price{
	width:117px;
	height:24px;
	background: #ff3399;
	color:#FFF;
	line-height: 24px;
	text-align:center;
	float:left;
}
.info_price:hover{	
	background: #F545A6;
	color:#666666;
	cursor:pointer;
}
.info_price_retail{
	float:left;
	line-height: 24px;
	margin-left:20px;
}
.info_tabs_box{
	margin-top:10px;
	background:url("images/info_tabs.png") no-repeat;
	width:459px;
	height:160px;
}
.info_tabs_box li{
	line-height:34px;
	
}
#info_tabs_notes{
	margin-right:20px;
}
#info_tabs_details{
	margin-right:10px;
}
.tabs_content{
	margin:10px 0 0 10px;
	width:448px;
	height:115px;
	overflow: auto;
	display:none;
}
.pink{
	color:#E32384;
}
.pink a:hover{
	color:#EBCCEB;
}
.seperator{
	background: url("images/seperator.png") no-repeat;	
	height:1px;
	width:305px;
}
.info_link, .info_ask{
	margin-top:8px;
	line-height:20px;
}
.info_share{
	float:left;
	margin-left:200px;
	font-size:12px;
	line-height: 20px;
}
.title{
	font-weight:700;
	font-size:16px;
}
/*-----------RELATED ITEMS------------*/
.item_related{
	margin-top:20px;
}
.item_related .seperator{
	margin-left:50px;
}
.item_related .title{
	margin:10px 0 10px 50px;
	
}
/*-----Carousel-----*/
.image_carousel {
	margin:auto;
	position: relative;
	width:798px;
}
#slider_related img {
	background-color: white;
	margin: 1px;
	display: block;
	float: left;
}
#slider_related img{
	background-color: white;
	margin: 10px;
	display: block;
	float: left;
}
a.prev, a.next {	
	width: 58px;
	height: 25px;
	display: block;
	position: absolute;
	top: 38px;
}
a.prev {			
	left: -58px;
	background: url("images/left.png") no-repeat;
}
a.prev:hover {
	background: url("images/left.png") no-repeat;
}
a.next {
	right: -70px;
	background: url("images/right.png") no-repeat;
}
a.next:hover {
	background: url("images/right.png") no-repeat;
}

a.prev span, a.next span {
	display: none;
}
/*-----------CONTACT------------*/
.contact_title{
	background:url("images/contact_title.png") no-repeat;
	padding:20px 0 0 40px;
	width:114px;
	height:43px;
	color:#FFF;
}
.contact_box{
	float:left;
	margin:10px 0 0 5px;
}
.contact_content_title{
	font-size:28px;
	color:#E32384;
	font-style: italic;
	margin:20px 0 10px 0;
}
.contact_content{
	margin-right:5px;
	width:350px;
	line-height:18px;
}
.contact_link{
	margin-top:15px;
}
.contact_form{
	border-left:dashed 1px #F545A6;
	float:left;
	margin:10px 0 0 5px;
	padding-left: 50px;
}
.contact_form_subtitle{
	font-size:20px;
	margin:10px 0 10px 0;
	font-style: italic;
}
.form_label{
	width:130px;
	float:left;
	line-height: 25px;
}
.form_textbox{
	width:370px;	
	margin-top:5px;
}
.form_endtext{
	font-weight: 700;
	margin-top:15px;
}
.form_radio{
	float:left;
}
#contact_submit{
	border:0;
	margin:15px 0 0 250px;
	padding:0;
}
#contact_submit:hover{
	background: #F545A6;
	color:#666666;
	cursor: pointer;
}
/*-----------GIFT CARD------------*/
.giftcard_img{
	background:url("images/giftcard.png") no-repeat;
	width:427px;
	height:379px;
	float:left;
}
.giftcard_info{
	margin:140px 0 0 50px;
	width:495px;
	float:left;
}
/*-----------PRESS------------*/
.categories_about{
	background-image: linear-gradient(bottom, rgb(254,205,254) 0%, rgb(255,255,255) 70%);
	background-image: -o-linear-gradient(bottom, rgb(254,205,254) 0%, rgb(255,255,255) 70%);
	background-image: -moz-linear-gradient(bottom, rgb(254,205,254) 0%, rgb(255,255,255) 70%);
	background-image: -webkit-linear-gradient(bottom, rgb(254,205,254) 0%, rgb(255,255,255) 70%);
	background-image: -ms-linear-gradient(bottom, rgb(254,205,254) 0%, rgb(255,255,255) 70%);
	
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(254,205,254)),
	color-stop(0.7, rgb(255,255,255))
);
}
